---
import type { GetStaticPaths } from "astro";
import { getPost, getPosts } from "../../queries";
import { PortableText } from 'astro-portabletext'
import Layout from '../_layout.astro'

export const getStaticPaths = (async () => {
  const posts = await getPosts()
  return posts.map((post) => ({
    params: { slug: (post.slug as any).current as string },
  }));
}) satisfies GetStaticPaths;

const { slug } = Astro.params;

const post = await getPost(slug)
---

<Layout>
  <h1>{post.title}</h1>
  
  <span>{post.publishedAt}</span>
  
  <PortableText value={post.body as any} />
</Layout>
