---
import { sanityClient } from "sanity:client";
import Layout from "../layouts/Layout.astro";
import type { SanityDocument } from "sanity";

const posts = await sanityClient.fetch<SanityDocument[]>(
  '*[_type == "post" && defined(slug.current)] | order(_createdAt desc)',
);
---

<Layout>
  {
    posts.map((post) => (
      <a
        style={{ display: "block", marginBottom: "16px" }}
        href={`/posts/${(post.slug as any).current}`}
      >
        <div>{post.title}</div>
        <div>{post.publishedAt}</div>
      </a>
    ))
  }
</Layout>
