---
import { getPosts } from "../queries";
import Layout from "./_layout.astro";

const posts = await getPosts()
---

<Layout>
  {
    posts.map((post) => (
      <a
        style={{ display: "block", marginBottom: "16px" }}
        href={`/posts/${(post.slug as any).current}`}
      >
        <div>{post.title}</div>
        <div>{post.publishedAt}</div>
      </a>
    ))
  }
</Layout>
